header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    color: white;
  }

header .title{
    font-size: 42px;
    font-weight: bold;
}


@media screen and (max-width:550px) {
    header .title{
        font-size: 28px;
    }
    
}